@use "sass:list";

$list-of-colors: (blue, green, yellow, pink, red);

footer {
  @extend %container;
  background-color: transparent;
  padding: 0 2rem;

  @include tablet() {
    @include display-flex(space-between, flex-start, row);
    flex-wrap: wrap;
    padding: 10rem 0rem;
  }

  > nav {
    padding: 4rem 0;
    font-size: 1.5rem;
    color: $main-text-color;
    border-bottom: 0.1rem solid #eee;
    font-weight: 300;
    // @for $var from 1 through list.length($list-of-colors) {
    //   &:nth-child(#{$var}) {
    //     background-color: list.nth($list-of-colors, $var);
    //   }
    // }

    @include tablet() {
      border-bottom: none;
      padding: 4rem 0;
    }

    > h5 {
      font-size: 1.7rem;
      margin-bottom: 2rem;

      @include tablet() {
        font-size: 2rem;
      }
    }

    ul {
      > li {
        margin: 0.5rem 0;

        @include tablet() {
          margin: 1rem 0;
        }

        > a {
          text-decoration: underline;
          cursor: pointer;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }

    &:last-of-type {
      font-size: 1.5rem;
      > ul {
        display: flex;

        > li {
          > a {
            color: $main-text-color;
            font-size: 4rem;
            margin-right: 1rem;
          }
        }
      }

      p {
        &:nth-of-type(2) {
          margin: 0.75rem 0;
        }
      }
    }
  }

  div {
    padding: 3rem 0 6rem 0;
    font-size: 1.5rem;
    font-weight: 300;
    color: $main-text-color;
    align-self: center;

    @include tablet() {
      width: 100%;

      @include display-flex(center, center);
    }

    p {
      opacity: 0.75;
      &:nth-child(2) {
        margin: 1rem 0;

        @include tablet() {
          border-left: 0.1rem solid $main-text-color;
          border-right: 0.1rem solid $main-text-color;
        }
      }

      @include tablet() {
        padding: 0 2rem;
      }
    }
  }
}
