@import "./mixins";

$columns: 12;
$column-base-width: calc(100% / $columns);

.container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  column-gap: 0;

  @include tablet() {
    flex-direction: row;
    column-gap: 4rem;
    row-gap: 0;
  }
}

[class*="col-"] {
  min-height: 1px;
  width: $column-base-width;
}

@for $var from 1 through $columns {
  .col-#{$var} {
    width: calc($column-base-width * $var);
  }
}
